.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    
}

.title{
    text-align: center;
    font-size:14px;
    color:black;
    margin: 8px;
}

.text{
    text-align: center;
    font-size:12px;
    color:black;
    margin: 5px;

}