.input {
    margin: 10px 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-size: 0.9rem;
}

.input::placeholder {
    color: #aaa;
}
@media (max-width: 768px) {
   .input{
    width: 80%;
    margin: 10px 0;
   }
}
  