.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Filmsbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

.boxseen {
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
    margin: 10px;


}

.search-results-container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 20px;
    z-index: 100;
}

.boxFiltrar {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    align-items: center;


}
.filtrar{
    margin-left: 10px;
    width: 20%;
    margin-right: 10px;
}