.box{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Filmsbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

