h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
}
main {
  margin-top: 60px; /* to push content below navbar */
  padding: 0;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
}

