.App {
  justify-content: space-between;
}

.Filmsbox{
  width: 80%;
  display: grid;
  /* flex-direction: row; */
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 10px;

}